.App {
  text-align: left;
  text-decoration: none;
  list-style: none;
}

.canidates {
  margin: 20% 20% 0 30%;
  background-color: rgb(115, 168, 247);
}

.frontRunner {
  background-color: rgb(240, 113, 113);
}

.frontRunner h2 {
  margin-left: 20%;
}

button {
  margin: 0 30% 0 0;
  float: right;
}
